.border {
    position: fixed;
    width: 16px;
    height: 16px;
    background-color: transparent;
    z-index: 99999;
}

.border-left {
    top: 0;
    left: 0;
    height: 16px;
    cursor: nw-resize;
}

.border-right {
    top: 0;
    right: 0;
    height: 16px;
    cursor: ne-resize;
}

.border-top {
    top: 0;
    left: 0;
    right: 0;
    height: 16px;
    cursor: n-resize;
}

.border-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    cursor: s-resize;
}

.border-bottom-left {
    bottom: 0;
    left: 0;
    height: 16px;
    cursor: sw-resize;
}

.border-bottom-right {
    bottom: 0;
    right: 0;
    height: 16px;
    cursor: se-resize;
}

.border-middle-right {
    top: 50%;
    right: 0;
    height: 16px;
    transform: translateY(-50%);
    cursor: e-resize;
}