@charset "UTF-8";
.light-theme {
  --window-bgcolor: #f1f1f1;
  --input-bgcolor: white;
  --text-color: black;
}

.dark-theme {
  --window-bgcolor: rgb(40, 41, 43);
  --input-bgcolor: rgb(75, 76, 82);
  --text-color: white;
}

#leftPanel {
  max-height: calc(100vh - 50px);
  background-color: var(--window-bgcolor);
  flex: 0.2;
  min-width: 215px;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0; /* Prevents shrinking */
}

.collapsible {
  font-size: 16px;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  color: var(--window-textcolor);
  background-color: var(--window-bgcolor);
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.focused {
  background-color: #fbb347;
}

.listing {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--window-bgcolor);
}

.arrow-right,
.arrow-down {
  margin-right: 5px;
}

input[type=text] {
  background-color: var(--input-bgcolor);
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

input[type=text]:focus {
  border: 2px solid #fbb347;
  outline: none;
}

/*-------------------------------------------------- Botão de Adicionar novo grupo */
#topLeftContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

input[type=text] {
  flex-grow: 1;
  margin-right: 10px;
}

#folderAdd {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#folderAdd img {
  height: 25px;
  width: 25px;
  background: none;
}

.left-panel-content {
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.collapsible.active + .left-panel-content {
  max-height: 500px;
}

/* Wrapper styles */
.wrapper {
  display: flex;
  align-items: center;
}

.child-elem {
  border: 2px solid transparent;
  border-radius: 10px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  margin-left: 5px;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
  height: 1.9em;
}

.child-focused {
  border-color: #fbb347;
}

.db-file-checkbox {
  margin-top: 6px;
  margin-left: 10px;
  vertical-align: middle;
}

#middlePanel {
  flex-basis: calc(100% - 500px); /* Adjust as needed */
  flex-grow: 0;
  margin: 0;
  padding: 0;
  height: calc(100vh - 78px);
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-height: calc(100% - 15px);
  align-self: flex-start;
}

#groupManage {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  border-bottom: 1px solid #777777;
  line-height: 8px;
}

#iconContainer {
  display: flex;
  align-items: center;
}

#dataSettings,
#dataAdd {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background: none;
}

#dataSettings img,
#dataAdd img {
  height: 25px;
  width: auto;
}

#dataSettings:hover,
#dataAdd:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#dataSettings {
  right: 0;
}

#dataAdd {
  right: 30px;
}

#tableContainer {
  flex: 1;
  overflow-y: auto;
}

#header {
  flex: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Work Sans", sans-serif;
  font-size: small;
  display: none;
  background-color: var(--window-bgcolor);
  width: 100%;
  table-layout: fixed;
}

#header.showing {
  display: table;
}

#header td:first-child {
  width: 70%;
}

#header td:last-child {
  width: 30%;
  text-align: right;
}

#myTable {
  flex: 1;
  padding: 0;
  font-size: small;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(233, 233, 233);
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  table-layout: fixed;
}

#myTable th,
#myTable td {
  padding: 2px;
  line-height: 1.2;
}

#myTable tr {
  margin: 0;
  padding: 2px;
  line-height: 1.2;
}

#myTable tr.selected {
  background-color: #fbb347;
}

.tr-even {
  background-color: #f3f3f3;
}

.tr-odd {
  background-color: #f8f5f5;
}

/* Middle Panel text space management */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*-------------------------------------------------------------------      

/* Painel de Configurações do Grupo */
.data-settings-panel {
  display: none;
  flex-grow: 1;
  background-color: var(--window-bgcolor);
  flex-direction: column;
}

.settings-item {
  display: block;
}

#configTitle {
  height: 45px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nomeGrupo {
  font-family: "Work Sans", sans-serif;
  height: 40px;
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding-top: 25px;
  padding-bottom: 5px;
}

#nomeGrupoInput {
  margin-left: 10px;
}

/*-------------------------------------------------------------------      
/* NOTASGRUPO*/
#notasGrupo {
  height: 40px;
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

#notasGrupoInput {
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  border-radius: 10px;
}

#em_Grupo {
  height: 40px;
  margin-left: 50px;
  margin-right: 10px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quando_Grupo {
  height: 40px;
  margin-left: 50px;
  margin-right: 10px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quando .custom-select-container .custom-select-value {
  width: 470px;
  font-size: 14px;
}

.quem .custom-select-container .custom-select-value {
  width: 470px;
  font-size: 14px;
}

#prefixo {
  height: 40px;
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding-top: 10px;
  padding-bottom: 5px;
}

#progress-container {
  display: none;
  text-align: center;
  font-size: small;
  font-family: "Work Sans", sans-serif;
}

#progress-bar::not([value="100"]) {
  display: block;
}

progress {
  width: 100%;
}

#progress-message {
  margin-top: 10px;
}

#middleAndRightContainer {
  display: flex;
  flex: 1;
  align-self: flex-start;
}

#rightPanel {
  display: none;
  flex-grow: 1;
  background-color: var(--window-bgcolor);
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  justify-content: space-between;
  overflow: visible;
  position: relative;
  max-height: calc(100% - 33px);
  align-self: flex-start;
}

#shortcutName {
  margin: 3px;
  font-family: "Work Sans", sans-serif;
  flex-grow: 1;
  height: 25px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

#shortcutName button {
  background: none;
  border: none;
  cursor: pointer;
}

#shortcutName .buttons-container {
  display: flex;
}

#duplicate {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: none;
  background: none;
  align-content: center;
}

#delete {
  width: 30px;
  height: 30px;
  padding: 0px;
  border: none;
  background: none;
  align-content: center;
}

#duplicate img,
#delete img {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background: transparent;
  align-content: center;
}

#duplicate:hover,
#delete:hover {
  background-color: #fbb347;
}

#contentType {
  overflow: visible;
  margin-left: -2px;
  margin-right: -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-size: small;
  height: 30px;
  position: relative;
  z-index: 10;
}

#contentType select {
  font-family: inherit;
  font-size: inherit;
}

#editor {
  -ms-overflow-style: none;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow-y: auto;
  min-height: 400px;
  z-index: 5;
}

#inputContainer {
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

#labelRight {
  padding-bottom: 7px;
  padding-top: 7px;
  display: flex;
  width: 100%;
  margin: 0;
}

#labelRight input {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

#labelRight input:focus {
  border: 2px solid #fbb347;
}

#rightInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  flex-grow: 1;
}

#atalhoRight {
  flex-grow: 1;
}

#atalhoRight input {
  font-family: "Work Sans", sans-serif;
  border: none;
  height: 30px;
  width: 175px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 70%;
  border: 2px solid #ccc;
}

#atalhoRight input:focus {
  border: 2px solid #fbb347;
}

.escolha .custom-select-container .custom-select-value {
  width: 250px;
  font-size: 14px;
}

.case .custom-select-container .custom-select-value {
  width: 290px;
  font-size: 14px;
}

.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
  box-sizing: border-box;
}

.custom-select-container {
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.custom-select-value {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.15rem 0.5rem;
  font-size: 12px;
}

.custom-select-container:focus > .custom-select-value {
  border-width: 2px;
  outline: none;
}

.custom-select-value::after {
  content: "";
  display: inline-block;
  border: 4px solid transparent;
  border-top-color: #ccc;
  margin-left: 12px;
  margin-top: 4px;
}

.custom-select-options {
  background-color: var(--window-bgcolor);
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 2px solid #ccc;
  width: 100%;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
}

.custom-select-options.show {
  display: block;
}

.custom-select-option {
  padding: 0.15rem 0.5rem;
  font-size: 14px;
  cursor: pointer;
}

.custom-select-option:hover {
  background-color: #fce3be;
}

.custom-select-option.selected {
  background-color: #ccc;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: green;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loadingScreen .loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #fbb347;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

#loadingScreen #loadingText {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mainContainer {
  margin: 0;
  padding: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: deeppink;
  align-self: flex-start;
}

.content {
  overflow: visible;
  background-color: var(--window-bgcolor);
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  margin-right: 5px;
  align-self: flex-start;
}

#bottomPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #fbb347;
} 
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: green;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loadingScreen .loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #fbb347;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
#loadingScreen #loadingText {
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mainContainer {
  margin: 0;
  padding: 0;
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: deeppink;
  align-self: flex-start;
}

.content {
  overflow: visible;
  background-color: #f1f1f1;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  margin-right: 5px;
  align-self: flex-start;
}

#bottomPanel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #fbb347;
}

#eventos {
  background-color: var(--window-bgcolor);
  max-height: 300px;
  overflow: auto;
}

.tab {
  overflow: visible;
  display: flex;
  border: 1px solid #ccc;
  background-color: var(--window-bgcolor, #f1f1f1);
  justify-content: space-between;
}

.tablinks {
  height: 30px;
}

.tab button {
  padding: 6, 3;
  font-family: "Work Sans", sans-serif;
  background-color: inherit;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #fbb347;
}

.tabcontent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  width: 100%;
  flex-grow: 1;
}

#Tab1 {
  flex-grow: 1;
  overflow: hidden;
}

/* Tab 4 - CONFIG */
#Tab4 {
  height: calc(100% - 50px);
  overflow: hidden;
  flex-grow: 1;
}

.flex-container {
  display: flex;
  height: 100%;
}

.tabcontent_4 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.left-column-tab4 {
  font-family: "Work Sans", sans-serif;
  width: 230px;
  background-color: var(--window-bgcolor);
  margin-left: 0;
}

.menu-list {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: -20px;
  list-style-type: none;
}

.menu-item {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.submenu-list {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.submenu-list li {
  margin-bottom: 10px;
  margin-left: -20px;
  text-align: left;
}

.submenu-list.open {
  max-height: 100px;
}

.right-column-tab4 {
  display: none;
  background-color: var(--window-bgcolor);
  height: 100%;
  flex-grow: 1;
  font-family: "Work Sans", sans-serif;
  overflow-y: auto;
}

#language_choice {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  height: 50px;
}

.flag-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flag {
  margin: 10px;
  width: 40px;
  height: 40px;
}

.darkmode-container {
  margin-right: 100px;
  display: flex;
  align-items: center;
}

label {
  top: 1px;
  width: 40px;
  height: 20px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 10px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

label:after {
  top: 1px;
  /* Adjusts the position to center it vertically */
  left: 1px;
  /* Adjusts the position to center it horizontally */
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 1px;
  left: 2px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 18px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label:after {
  left: 39px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label,
label:after {
  transition: 0.3s;
}

label:active:after {
  width: 26px;
}/*# sourceMappingURL=combined_styles.css.map */