#leftPanel {
    flex: 0 0 20%;
    background-color: #f1f1f1;
    /* width: 20%; */
    margin-top: 5px #f1f1f1;
    /* adjust as needed */
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;


}

.collapsible {
    background-color: #f1f1f1;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


.focused {
    background-color: #f5b57f;
}


.active,
.collapsible:hover {
    background-color: #d2c8c8;
}

.listing {

    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.arrow-right,
.arrow-down {
    margin-right: 5px;
}


input[type=text] {
    background-color: white;
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    border: 2px solid #ccc;
    /* border color when not in focus */
    box-sizing: border-box;
}

input[type="text"]:focus {
    border: 2px solid rgb(232, 159, 15);
    /* outline:remover a borda padrão preta, senão não adianta setar cor */
    outline: none;

}