#middlePanel {
    margin: 0;
    padding: 0;
    align-self: flex-start;
    width: 35%;
    /* adjust as needed */

}



#header {
    font-family: 'Work Sans', sans-serif;
    font-size: small;
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    table-layout: fixed;
}

#header.showing {
    display: table;
}

#header td:first-child {
    width: 70%;
}

#header td:last-child {
    width: 30%;
    text-align: right;
}




#myTable {
    padding: 0;
    font-size: small;
    font-family: 'Work Sans', sans-serif;
    background-color: f1f1f1;
    width: 100%;
    border-collapse: collapse;
    /* Add this line */

    /* height: 80vh; */
    /* 50% of the viewport's height */
    /* width: 25vw; */
    /* Não sei pq é um a menos do que o parent quando está minimizado */
    overflow: auto;
    /* this will add scrollbars if the content exceeds the height or width */
}


#myTable th,
#myTable td {
    padding: 2px;
    /* Adjust as needed */
    line-height: 1.2;
    /* Adjust as needed */
}

#myTable tr {
    margin: 0;
    padding: 2px;
    line-height: 1.2;
    /* Adjust line height as needed */
}



#myTable tr.selected {
    background-color: orange;
}