#middlePanel {
    flex: 2;
    margin: 0;
    padding: 0;
    height: calc(100vh - 100px);
    /* adjust this as necessary */
    display: flex;
    flex-direction: column;

}




#groupManage {

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    border-bottom: 1px solid #777777;
    /* Change the color as needed */
    padding: 4px 0;
    /* Add vertical padding */

}



#iconContainer {
    display: flex;
    align-items: center;
}




#dataSettings,
#dataAdd {


    width: 25px;
    /* Set the width of the button */
    height: 25px;
    /* Set the height of the button */

    padding: 0;
    /* Remove padding to fit the image in 25px x 25px area */
    border: none;
    /* Remove border to fit the image in 25px x 25px area */
    background: none;
    /* Remove background to make the button transparent */
}

#dataSettings img,
#dataAdd img {

    height: 25px;
    /* Set the height of the image. You might need to adjust this based on your image's aspect ratio. */
    width: auto;
    /* Let the browser set the width automatically to maintain aspect ratio. */
}

#dataSettings:hover,
#dataAdd:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Change the background color on hover */
}

#dataSettings {

    right: 0;
    /* Align it to the right */
}

#dataAdd {

    right: 30px;
    /* Align it to the left of the dataSettings button */
}






#tableContainer {
    flex: 1;
    /* Adjust to the desired maximum height */
    overflow-y: auto;

}




#header {
    flex: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: small;
    display: none;
    background-color: #f1f1f1;
    width: 100%;
    table-layout: fixed;
}

#header.showing {
    display: table;
}

#header td:first-child {
    width: 70%;
}

#header td:last-child {
    width: 30%;
    text-align: right;
}




#myTable {
    flex: 1;
    padding: 0;
    font-size: small;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;

}


#myTable th,
#myTable td {
    padding: 2px;
    /* Adjust as needed */
    line-height: 1.2;
    /* Adjust as needed */
}

#myTable tr {
    margin: 0;
    padding: 2px;
    line-height: 1.2;
    /* Adjust line height as needed */
}



#myTable tr.selected {
    background-color: orange;
}