#rightPanel {
    flex: 0 0 45%;
    /* Add this line */
    width: 40%;
    background-color: #f1f1f1
}

#atalhoRight,
#caseRight {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
}

#atalhoRight input,
#caseRight select {
    font-family: 'Work Sans', sans-serif;
    border: none;
    height: 30px;

    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;

}