body {
    margin: 0;
    padding: 0;
}

#titleBar {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(26, 17, 10);
    color: white;
    overflow: hidden;
}

#icon {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
}

#icon img {
    height: 20px;
    width: 20px;
    overflow: hidden;
}

#buttonContainer {
    display: flex;
    margin-left: auto;
}

#buttonContainer button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    margin-left: 5px;
}

#buttonContainer img {
    width: 80%;
    height: 80%;
}

#minimize:hover {
    background-color: rgb(143, 143, 6);
}

#maxRestore:hover {
    background-color: green;
}

#close:hover {
    background-color: red;
}

#myTable {

    background-color: rgb(158, 138, 138);
}

#myTable th,
#myTable td {
    padding: 2px;
    /* Adjust as needed */
    line-height: 1.2;
    /* Adjust as needed */
}