body,

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;


  /* add this line to hide scrollbar */
  display: flex;
  flex-direction: column;




  /* add this line to hide scrollbar */
}




.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid red;
}


.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  /* Add this line to enable scrolling if the content overflows */
  margin-bottom: 10px;
  /* Add this line */
}



.content {
  background-color: #f1f1f1;
  /* expand to take up remaining space */
  display: flex;
  /* align child elements in a row */
  width: 100%;
  flex: 1;
  font-family: 'Work Sans', sans-serif;

}







#bottomPanel {
  height: 50px;
  background-color: blue;



}



.flex-container {

  display: flex;
  align-items: center;
  background-color: cornflowerblue;
  font-family: 'Work Sans', sans-serif;

}

.flex-container>div:first-child {
  margin-right: 20px;
  /* adjust as needed */
}


.flag {
  width: 40px;
  /* adjust as needed */
  height: auto;
  /* keeps aspect ratio */
  margin-right: 10px;
  /* space between flags */
  cursor: pointer;
  /* shows a hand cursor when the mouse is over the flag */
}