body,

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* add this line to hide scrollbar */
}


#edge-detection {

  /* this makes the absolute positioning of #bottomPanel relative to this div */
  background-color: coral;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content-wrapper {

  background-color: chartreuse;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100% - 55px);
  /* Adjust the height to leave space for #bottomPanel and the gap */


}


.content {
  /* flex-grow: 1; */
  /* expand to take up remaining space */
  display: flex;
  /* align child elements in a row */
  width: 100%;
  /* take up full width */
}


#bottomPanel {
  height: 50px;
  background-color: blue;
  width: 100%;
  /* Make sure it takes the full width */
}



.flex-container {

  display: flex;
  align-items: center;
  background-color: cornflowerblue;
  font-family: 'Work Sans', sans-serif;

}

.flex-container>div:first-child {
  margin-right: 20px;
  /* adjust as needed */
}


.flag {
  width: 40px;
  /* adjust as needed */
  height: auto;
  /* keeps aspect ratio */
  margin-right: 10px;
  /* space between flags */
  cursor: pointer;
  /* shows a hand cursor when the mouse is over the flag */
}