.tab {
    overflow: visible;
    display: flex;
    /* Add this line */
    border: 1px solid #ccc;
    background-color: #f1f1f1; 
}


.tablinks {
    height: 30px;
}


.tab button {
    padding: 6, 3;
    font-family: 'Work Sans', sans-serif;
    background-color: inherit;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #fbb347;
}

.tabcontent {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.tab-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    width: 100%;
    flex-grow: 1;
}



#Tab1 {
    flex-grow: 1;
    overflow: hidden;
}


/* Tab 2 */

#Tab4 {
    height: calc(100% - 50px);
    overflow: hidden;
    flex-grow: 1;
}

.flex-container {
    display: flex;
    height: 100%;
}


.tabcontent_4 {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}


.left-column-tab4 {
    width: 200px;
    background-color: #72e884;
    overflow-y: auto;
}

.right-column-tab4 {
    height: 100%;
    flex-grow: 1;
    background-color: #a0b920;
    overflow-y: auto;
}

#language_choice{
width: 100%;
height: 50px
}


.flag {
    margin: 10px;
    width: 40px;
    height: 40px;
}