.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


.tablinks {
    height: 30px;
}


.tab button {
    font-family: 'Work Sans', sans-serif;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {

    border-top: none;

    /* adjust 50px if the bottomPanel height changes */
}



#Tab2 {

    display: none;
}