.tab {
   
    overflow: visible;
    display: flex;
    /* Add this line */
    border: 1px solid #ccc;
    background-color: #f1f1f1;
   
    
}


.tablinks {

    height: 30px;
}


.tab button {
  
    padding: 6, 3;

    font-family: 'Work Sans', sans-serif;
    background-color: inherit;

    display: inline-block;
    /* Add this line */


    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #fbb347;
}

.tabcontent {
    display: flex;
    border-top: none;
    height: calc(100% - 30px); /* Add this line to take up the remaining height minus the tab bar height */

    /* adjust 50px if the bottomPanel height changes */
}


#Tab1 {
    flex-grow: 1;
    /* This allows it to grow and fill all available space */
    overflow: auto;
    /* In case the content overflows */
}

/*  CONFIG MENU  */


.flex-container {
    background-color: rgb(174, 12, 12);
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

.left-column {
    width: 200px;
    background-color: rgb(46, 12, 138);
    /* For demonstration */
    flex-shrink: 0;
    /* Prevents the column from shrinking */
}

.right-column {
    flex-grow: 0;
    /* Makes the right column take up the remaining space */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: block;
    max-height: 0;
    /* Start height, fully collapsed */
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* Animation */
}

.dropdown-content.show {
    max-height: 300px;
    /* End height, fully expanded; adjust based on actual height */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

